public class Scl_Rep
{
    public static void main(int userid,int pass)
    {
        if(userid==20110018)
        System.out.println("Name: Aritra Ghosh || Password: "+pass);
        if(userid==20110019)
        System.out.println("Name: Bidisha Roy || Password: "+pass);
        if(userid==20110020)
        System.out.println("Name: Arif Sk || Password: "+pass);
        if(userid==20110021)
        System.out.println("Name: Saheb Roy || Password: "+pass);
        if(userid==20110022)
        System.out.println("Name: Alapan Roy Chowdhuary || Password: "+pass);
        if(userid==20110023)
        System.out.println("Name: Richik Chakraborty || Password: "+pass);
        if(userid==20110024)
        System.out.println("Name: Priyanshu Kundu || Password: "+pass);
        if(userid==20110025)
        System.out.println("Name: Krish Sharma || Password: "+pass);
        if(userid==20110026)
        System.out.println("Name: Sania Pir || Password: "+pass);
        if(userid==20110027)
        System.out.println("Name: Sriparna Dey || Password: "+pass);
        if(userid==20110028)
        System.out.println("Name: Preety Ghosh || Passowrd: "+pass);
    }
}
